@charset "UTF-8";
/* CSS Document */

*{
	font-family: 'Work Sans', sans-serif; /* All text is Work Sans from Google Fonts */
}

/* ---------- NAVIGATION BAR ---------- */
nav{
	font-weight: 200;
	text-transform: uppercase;
	font-size: 75%;
	min-width: 600px;
}

ul{
	list-style: none;
	display: block;
}

li {
	float: left;
	margin: 30px;
	margin-bottom: 40px;
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color: lightgray;
}
/* -------------- END OF NAV ------------- */



/* -------------- HOME PAGE --------------*/

/*Banner image*/
.sand{
	display: block;
	width: 100%;
	position: relative;
	min-width: 300px;
	overflow: hidden;
	margin: 0 auto;
}


/* Website description */
.intro {
	text-align: center;
	font-weight: 200;
	padding: 0;
	margin: 50px auto;
	width: 50%;
}

/* Instagram link that shows "Follow me!" when hovered over */
.insta{
	color: black;
	display: block;
	clear: both;
	margin: 0 auto;
	text-align: center;
}

.insta:visited:hover{
	color: black;
}

.follow{
	color: lightgray;
	visibility: visible;
	opacity: 0;
	transition: opacity .2s, visibility .1s;
	margin: 0 auto;
	text-align: center;
}

.insta:hover + .follow{
	visibility: visible;
	opacity: 1;
	
}
/*---------- END OF HOMEPAGE ---------*/



/*--------------- START OF WORDS AND QUOTES PAGE --------------*/

/* Makes first image start after nav, images after should float left */
.container:first-child{
	clear: both;
}

/* Keeps grid at width of three images, and centers images to browser size */
.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	padding-top: 110px;
	margin-bottom: 120px;

}
 /* Adds photo creds at bottom right of image*/
.descrp .cred{
	position: absolute;
	bottom: 15px;
	right: 25px;
	font-weight: 200;
	color: black;
	font-size: .75em;
}

span{
	font-style: italic;
}
/* HOVER EFFECT CODE TAKEN FROM https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering */

/* Hover effect shows text behind light gray background */
.pics {
	position: relative;
	height: 400px;
	width: 400px;
	float: left;
	margin: 0px;
}

.descrp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: lightgray;
	color: black;
	visibility: visible;
	opacity: 0;
	transition: opacity 1s, visibility .5s;
	padding: 50px;
}

.pics:hover .descrp {
	visibility: visible;
	opacity: .90;
}

/* BACK TO TOP BUTTON CODE TAKEN FROM https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

/* Add a 'back to top' button on the bottom right corner of browser */
#to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* ----------------- END OF WORDS AND QUOTES STYLING ---------------*/



/* ------------------START OF ABOUT PAGE -------------- */

.hello{ /* About me description */
	clear: both;
	width: 40%;
	margin-top: 0px;
	margin-left: 7%;
	padding-top: 150px;
	font-weight: 200;
	line-height: 1.5em;
}

.me{ /* Photo of me */
	display: block;
	float: right;
	border-radius: 50%;
	width: 600px;
	position: absolute;
	z-index: -1;
	right: 5%;
	top: 100px;
}

.hello span{ /* Small side note at the end of about descrp */
	font-style: normal; /* Gets rid of span italic from earlier */
	font-weight: 200;
	color: black;
	font-size: .75em;
}